@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Vazir";
  font-weight: 400;
}

.h1 {
  @apply text-xl font-black sm:text-2xl md:text-3xl;
}

.description {
  @apply text-sm sm:text-base md:text-lg font-medium text-justify !leading-10;
}

.show-mobile-menu {
  animation: fadeInDown 0.25s forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
