@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Vazir";
  font-weight: 400;
}

.h1 {
  @apply text-xl font-black sm:text-2xl md:text-3xl;
}

.h2 {
  @apply text-lg font-extrabold sm:text-xl md:text-2xl;
}

.h3 {
  @apply font-bold sm:text-lg md:text-xl;
}

.description {
  @apply text-sm sm:text-base font-medium text-[#303030] text-justify !leading-10;
}

.primary-button {
  @apply font-semibold text-[#413805] bg-[#ffd900] py-2.5 px-5 rounded-xl transition-colors hover:bg-[#fbf6d9];
}

.secondary-button {
  @apply font-semibold text-[#28457b] bg-[#E8EFFE]/60 py-2.5 px-5 rounded-xl transition-colors hover:bg-[#fbf6d9];
}

.show-mobile-menu {
  animation: fadeInDown 0.25s forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
