@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Vazir";
  font-weight: 400;
}

.show-mobile-menu {
  animation: fadeInDown 0.25s forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
